@mixin main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin container {
    width: 1240px;
    display: flex;
    @media (max-width: 1240px) {
        width: 90%;
    }
}