@import '../../assests/styles/mixins.scss';
@import '../../assests/styles/vaiables.scss';

.header {
    @include main;
    background: $primary;
    &__container {
        @include container;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        color: $secondary;
        font-size: 25px;
    }
    &__nav {
        list-style: none;
        color: $secondary;
        font-size: 18px;
        color: #fff;
        li {
            display: inline-block;
            cursor: pointer;
            margin: 0 7px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}